Options -Indexes

<IfModule mod_rewrite.c>
RewriteEngine On

# Interdiction d'accéder au dossier src, template
RewriteRule ^src/ - [F,L]
RewriteRule ^template/ - [F,L]
RewriteRule ^core/ - [F,L]

# Redirection de toutes les requêtes vers index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?action=$1 [L,QSA]
</IfModule>

<Files "config.json">
    Order allow,deny
    Deny from all
</Files>

<Files "bd.sql">
    Order allow,deny
    Deny from all
</Files>

<Files "delDb.sql">
    Order allow,deny
    Deny from all
</Files>