@font-face {
  font-family: notoBold;
  src: url("../font/NotoSerif-Bold.ttf");
}
@font-face {
  font-family: notoRegular;
  src: url("../font/NotoSerif-Regular.ttf");
}
html {
  font-size: calc(8px + 0.390625vw);
}

body {
  margin: 0;
  font-family: notoRegular, serif;
}

h1 {
  font-size: 2.7rem;
}

h2 {
  font-size: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: notoBold, sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.background {
  background-image: linear-gradient(to top, rgba(19, 21, 25, 0.4), rgba(19, 21, 25, 0.4)), url("../image/background/bg.webp");
  background-size: cover;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  position: absolute;
}

.navBar {
  background: white;
  height: 18vh;
  font-family: notoBold, serif;
  font-size: 1.5rem;
}
.navBar .firstLine, .navBar .secondLine {
  border-bottom: solid black 1px;
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
}
.navBar .firstLine ul, .navBar .secondLine ul {
  list-style-type: none;
  display: flex;
  margin: 0;
}
.navBar .firstLine ul .backgroundBrown, .navBar .secondLine ul .backgroundBrown {
  background-color: #D9984A;
  color: white !important;
  border-right: solid black 1px;
  border-left: solid black 1px;
  font-size: 1.1em;
}
.navBar .firstLine ul a, .navBar .secondLine ul a {
  font-size: 1.5rem;
  height: 100%;
  display: flex;
  align-items: center;
}
.navBar .firstLine {
  height: 60%;
}
.navBar .firstLine li a {
  padding: 0 3.5vw;
  border: solid black 1px;
  color: black;
}
.navBar .secondLine {
  height: 40%;
  background-color: #BF3111;
}
.navBar .secondLine form {
  display: flex;
  align-items: center;
  height: 5.4vh;
  margin: auto 0;
}
.navBar .secondLine form button {
  height: 5.4vh;
  width: 5.4vh;
  background-color: #D9984A;
  border: solid black 1px;
  padding: 0;
}
.navBar .secondLine form input {
  height: 100%;
  width: 24vw;
  border: solid black 1px;
  border-left: none;
  padding: 0 10px;
  box-sizing: border-box;
  font-size: 1.2rem;
}
.navBar .secondLine form input::placeholder {
  font-size: 1.2rem;
}
.navBar .secondLine form input:focus {
  outline: unset;
}
.navBar .secondLine li {
  padding-left: 0.6vw;
}
.navBar .secondLine li a {
  padding: 0 1vw;
  color: white;
}

.footer {
  background-color: white;
  display: flex;
}
.footer section {
  width: 33.3333333333%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 25px 0;
  position: relative;
}
.footer section p {
  width: 80%;
}
.footer .navList {
  list-style-type: none;
}
.footer .navList a {
  color: black;
}
.footer .ewLogo {
  width: 250px;
  max-width: 100%;
  position: absolute;
}

.pageContent {
  background-color: white;
  margin: 4vh auto;
  width: 80%;
  border: solid black 1px;
}

.homeMain {
  height: 78vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 1vw 1vw 0;
  box-sizing: border-box;
}
.homeMain .mainContent {
  display: flex;
  justify-content: center;
  align-items: center;
}
.homeMain .mainContent .left {
  margin-right: 2.6vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.homeMain .mainContent .right {
  margin-left: 2.6vw;
  margin-top: auto;
  margin-bottom: auto;
}
.homeMain .mainContent .right h1 {
  font-size: 2.8rem;
}
.homeMain .mainContent .right h2 {
  margin-bottom: 10vh;
  margin-top: 4vh;
}
.homeMain .mainContent .right a {
  background-color: #BF3111;
  padding: 1.8vh 4vw;
  color: white;
  font-family: notoBold, serif;
  font-size: 1.5rem;
}
.homeMain footer {
  text-align: center;
}

.newestTournament {
  height: 100vh;
  background-image: url("../image/background/background-pattern.svg");
  background-position: center;
  padding-top: 9vh;
  box-sizing: border-box;
}
.newestTournament .newestTournamentTitle {
  background-color: white;
  width: 90%;
  height: 7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw;
  box-sizing: border-box;
  border: solid black 1px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 9vh;
}
.newestTournament .tournamentsList {
  margin: 0 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.newestTournament .tournamentsList article {
  margin-bottom: 9vh;
  z-index: 1;
}

.joinOurSocial {
  height: 100vh;
  background-image: url("../image/illustration/join-us.webp");
  background-position: bottom;
  background-repeat: no-repeat;
  z-index: 0;
  text-align: center;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
}
.joinOurSocial .socialIcons {
  width: 90%;
  margin-top: 7.5vh;
  margin-bottom: 18vh;
  height: 14vh;
  display: flex;
  justify-content: space-around;
}

.tournamentArticle {
  width: 20vw;
  background-color: white;
  border: solid black 1px;
}
.tournamentArticle .tournamentImage {
  height: 25vh;
}
.tournamentArticle .tournamentImage img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.tournamentArticle p {
  margin: 0;
}
.tournamentArticle header, .tournamentArticle .participant, .tournamentArticle .dates {
  padding: 1vw;
  color: black;
}
.tournamentArticle .participant, .tournamentArticle .dates {
  font-family: notoBold, serif;
}
.tournamentArticle header {
  border-top: solid black 1px;
  border-bottom: solid black 1px;
  display: flex;
  justify-content: space-between;
}
.tournamentArticle header .right {
  color: #2DCCFF;
}
.tournamentArticle header .right .statusCircle {
  margin-bottom: -0.15vh;
  display: inline-block;
  width: 1.6vh;
  height: 1.6vh;
  border-radius: 50%;
  background-color: #2DCCFF;
}
.tournamentArticle .participant {
  border-bottom: solid black 1px;
}
.tournamentArticle .participant progress {
  height: 2vh;
  width: 100%;
  border-radius: 0;
  border: solid black 1px;
}
.tournamentArticle .participant progress::-webkit-progress-bar {
  background-color: #F0F0F2;
}
.tournamentArticle .participant progress::-webkit-progress-value {
  background-color: #D9A23D;
  border-right: solid black 1px;
}
.tournamentArticle .dates {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.pageHeader {
  height: 16vh;
  background-color: #D9984A;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.6vw;
}

.imageFormSection {
  display: flex;
  margin: 2.6vw;
}
.imageFormSection .imageSection {
  height: 66vh;
  border-right: solid black 1px;
  width: 50%;
}
.imageFormSection .imageSection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.imageFormSection .formSection {
  width: 50%;
  padding-left: 2.6vw;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.imageFormSection .formSection header {
  margin-bottom: 2.8vh;
}
.imageFormSection .formSection header a {
  color: black;
}
.imageFormSection .formSection header p {
  margin: 0;
}
.imageFormSection .formSection form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.imageFormSection .formSection form .formGroup {
  width: 100%;
  margin-bottom: 2.8vh;
  display: flex;
  flex-direction: column;
}
.imageFormSection .formSection form .formGroup input[type=text] {
  width: 100%;
  height: 3vh;
  border-radius: 0;
  border: solid black 1px;
  padding: 0 10px;
  box-sizing: border-box;
}
.imageFormSection .formSection form .formGroup textarea {
  padding: 10px;
}
.imageFormSection .formSection form .formGroup input[type=text]:focus, .imageFormSection .formSection form .formGroup textarea:focus {
  outline: unset;
}
.imageFormSection .formSection form .submitButton {
  width: 100%;
  font-size: 2em;
  font-family: notoBold, serif;
  height: 5.5vh;
  background-color: #BF3111;
  color: white;
  border: solid black 1px;
}

.registerForm .formGroup:nth-child(-n+4) {
  width: 45% !important;
}

/*# sourceMappingURL=style.css.map */
