@font-face {
  font-family: notoBold;
  src: url("../font/NotoSerif-Bold.ttf");
}
@font-face {
  font-family: notoRegular;
  src: url("../font/NotoSerif-Regular.ttf");
}
body {
  margin: 0;
  font-family: notoRegular, serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: notoBold, sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

.background {
  background-image: linear-gradient(to top, rgba(19, 21, 25, 0.4), rgba(19, 21, 25, 0.4)), url("../image/bg.webp");
  background-size: cover;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  position: absolute;
}

.navBar {
  background: white;
  height: 195px;
  font-family: notoBold, serif;
  font-size: 25px;
}
.navBar .firstLine, .navBar .secondLine {
  border-bottom: solid black 1px;
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
}
.navBar .firstLine ul, .navBar .secondLine ul {
  list-style-type: none;
  display: flex;
  margin: 0;
}
.navBar .firstLine ul a, .navBar .secondLine ul a {
  height: 100%;
  display: flex;
  align-items: center;
}
.navBar .firstLine {
  height: 120px;
}
.navBar .firstLine img {
  width: 350px;
}
.navBar .firstLine li a {
  padding: 0 70px;
  border: solid black 1px;
  color: black;
}
.navBar .secondLine {
  height: 75px;
  background-color: #BF3111;
}
.navBar .secondLine form {
  display: flex;
  align-items: center;
  height: 60px;
  margin: auto 0;
}
.navBar .secondLine form button {
  height: 60px;
  width: 60px;
  background-color: #D9A23D;
  border: solid black 1px;
  padding: 0;
}
.navBar .secondLine form input {
  height: 60px !important;
  width: 470px;
  border: solid black 1px;
  border-left: none;
  padding: 0 10px;
  box-sizing: border-box;
}
.navBar .secondLine form input:focus {
  outline: unset;
}
.navBar .secondLine a {
  color: white;
  padding-left: 50px;
}

.footer {
  background-color: white;
  display: flex;
}
.footer section {
  width: 33.3333333333%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 25px 0;
  position: relative;
}
.footer section p {
  width: 80%;
}
.footer .navList {
  list-style-type: none;
}
.footer .navList a {
  color: black;
}
.footer .ewLogo {
  width: 250px;
  max-width: 100%;
  position: absolute;
}

.pageContent {
  background-color: white;
  margin: 50px 10%;
  border: solid black 1px;
}

.homeMain {
  height: calc(100vh - 195px - 50px);
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.homeMain .mainContent {
  display: flex;
  justify-content: center;
  padding-top: 80px;
}
.homeMain .mainContent .left {
  margin-right: 50px;
}
.homeMain .mainContent .right {
  padding-top: 100px;
  margin-left: 50px;
}
.homeMain .mainContent .right h1 {
  font-size: 45px;
}
.homeMain .mainContent .right h2 {
  padding-top: 40px;
  padding-bottom: 110px;
}
.homeMain .mainContent .right a {
  background-color: #BF3111;
  padding: 20px 75px;
  color: white;
  font-family: notoBold, serif;
  font-size: 24px;
}
.homeMain footer {
  margin-top: 35px;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
