$red: #BF3111;
$primaryBrown: #D9A23D;
$secondaryBrown: #D9984A;
$blue: #2DCCFF;
$grey: #F0F0F2;

@font-face {
  font-family: notoBold;
  src: url("../font/NotoSerif-Bold.ttf");
}

@font-face {
  font-family: notoRegular;
  src: url("../font/NotoSerif-Regular.ttf");
}

*{
  font-size: 1.6vh;
}

body {
  margin: 0;
  font-family: notoRegular, serif;
}
h1{
  font-size: 2.8rem;
}
h2{
  font-size: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: notoBold, sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

img{
  max-width: 100%;
  max-height: 100%;
}

.background {
  background-image: linear-gradient(to top, rgba(19, 21, 25, 0.4), rgba(19, 21, 25, 0.4)), url("../image/background/bg.webp");
  background-size: cover;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  position: absolute;
}

.navBar {
  background: white;
  height: 18vh;
  font-family: notoBold, serif;
  font-size: 1.5rem;

  .firstLine, .secondLine {
    border-bottom: solid black 1px;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;

    ul {
      list-style-type: none;
      display: flex;
      margin: 0;

      a {
        font-size: 1.5rem;
        height: 100%;
        display: flex;
        align-items: center;
      }
    }
  }

  .firstLine {
    height: 60%;
    li {
      a {
        padding: 0 3.5vw;
        border: solid black 1px;
        color: black;
      }
    }
  }

  .secondLine {
    height: 40%;
    background-color: $red;

    form {
      display: flex;
      align-items: center;
      height: 5.4vh;
      margin: auto 0;
      button {
        height: 5.4vh;
        width: 5.4vh;
        background-color: $primaryBrown;
        border: solid black 1px;
        padding: 0;
      }

      input {
        height: 100%;
        width: 24vw;
        border: solid black 1px;
        border-left: none;
        padding: 0 10px;
        box-sizing: border-box;

      }

      input:focus {
        outline: unset;
      }
    }
    a {
      color: white;
      padding-left: 2.6vw;
    }
  }
}

.footer {
  background-color: white;
  display: flex;

  section {
    width: calc(100% / 3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 25px 0;
    position: relative;

    p {
      width: 80%;
    }
  }

  .navList {
    list-style-type: none;

    a {
      color: black;
    }
  }

  .ewLogo {
    width: 250px;
    max-width: 100%;
    position: absolute;
  }
}

.pageContent {
  background-color: white;
  margin: 4vh auto;
  width: 80%;
  border: solid black 1px;

}

.homeMain {
  height: calc(100vh - 18vh - 4vh);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 1vw 1vw 0;
  box-sizing: border-box;
  .mainContent {
    display: flex;
    justify-content: center;
    align-items: center;
    .left {
      margin-right: 2.6vw;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    .right {
      margin-left: 2.6vw;
      margin-top: auto;
      margin-bottom: auto;
      h2 {
        margin-bottom: 10vh;
        margin-top: 4vh;
      }
      a {
        background-color: $red;
        padding: 1.8vh 4vw;
        color: white;
        font-family: notoBold, serif;
        font-size: 1.5rem;
      }
    }
  }
  footer{
    text-align: center;
  }
}


.newestTournament{
  height: 100vh;
  background-image: url("../image/background/background-pattern.svg");
  background-position: center;
  padding-top: 9vh;
  box-sizing: border-box;
  .newestTournamentTitle{
    background-color: white;
    width: 90%;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw;
    box-sizing: border-box;
    border: solid black 1px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 9vh;
  }

  .tournamentsList{
    margin: 0 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    article{
      margin-bottom: 9vh;
      z-index: 1;
    }
  }
}

.joinOurSocial{
  height: 100vh;
  background-image: url("../image/illustration/join-us.webp");
  background-position: bottom;
  background-repeat: no-repeat;
  z-index: 0;
  text-align: center;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  .socialIcons{
    width: 90%;
    margin-top: 7.5vh;
    margin-bottom: 18vh;
    height: 14vh;
    display: flex;
    justify-content: space-around;
  }
}


.tournamentArticle{
  width: 20vw;
  background-color: white;
  border: solid black 1px;
  .tournamentImage{
    height: 25vh;
    img{
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
  p{
    margin: 0;

  }
  header, .participant, .dates{
    padding: 1vw;
    color: black;
  }
  .participant, .dates{
    font-family: notoBold, serif;
  }
  header{
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    display: flex;
    justify-content: space-between;

    .right{
      color: $blue;

      .statusCircle{
        margin-bottom: -2px;
        display: inline-block;
        width: 1.6vh;
        height: 1.6vh;
        border-radius: 50%;
        background-color: $blue;
      }
    }
  }
  .participant{
    border-bottom: solid black 1px;
    progress{
      height: 2vh;
      width: 100%;
      border-radius: 0;
      border: solid black 1px;
    }
    progress::-webkit-progress-bar {
      background-color: $grey;
    }

    progress::-webkit-progress-value {
      background-color: $primaryBrown;
      border-right: solid black 1px;
    }

  }
  .dates{
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
}


