$red: #BF3111;
$primaryBrown: #D9A23D;
$secondaryBrown: #D9984A;

@font-face {
  font-family: notoBold;
  src: url("../font/NotoSerif-Bold.ttf");
}

@font-face {
  font-family: notoRegular;
  src: url("../font/NotoSerif-Regular.ttf");
}

body {
  margin: 0;
  font-family: notoRegular, serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: notoBold, sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

.background {
  background-image: linear-gradient(to top, rgba(19, 21, 25, 0.4), rgba(19, 21, 25, 0.4)), url("../image/bg.webp");
  background-size: cover;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  position: absolute;
}

.navBar {
  background: white;
  height: 195px;
  font-family: notoBold, serif;
  font-size: 25px;

  .firstLine, .secondLine {
    border-bottom: solid black 1px;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;

    ul {
      list-style-type: none;
      display: flex;
      margin: 0;

      a {
        height: 100%;
        display: flex;
        align-items: center;
      }
    }
  }

  .firstLine {
    height: 120px;

    img {
      width: 350px;
    }

    li {
      a {
        padding: 0 70px;
        border: solid black 1px;
        color: black;
      }
    }
  }

  .secondLine {
    height: 75px;
    background-color: $red;

    form {
      display: flex;
      align-items: center;
      height: 60px;
      margin: auto 0;

      button {
        height: 60px;
        width: 60px;
        background-color: $primaryBrown;
        border: solid black 1px;
        padding: 0;
      }

      input {
        height: 60px !important;
        width: 470px;
        border: solid black 1px;
        border-left: none;
        padding: 0 10px;
        box-sizing: border-box;
      }

      input:focus {
        outline: unset;
      }
    }


    a {
      color: white;
      padding-left: 50px;
    }
  }
}

.footer {
  background-color: white;
  display: flex;

  section {
    width: calc(100% / 3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 25px 0;
    position: relative;

    p {
      width: 80%;
    }
  }

  .navList {
    list-style-type: none;

    a {
      color: black;
    }
  }

  .ewLogo {
    width: 250px;
    max-width: 100%;
    position: absolute;
  }
}

.pageContent {
  background-color: white;
  margin: 50px 10%;
  border: solid black 1px;
}

.homeMain {
  height: calc(100vh - 195px - 50px);
  display: flex;
  justify-content: center;
  flex-direction: column;

  .mainContent {
    display: flex;
    justify-content: center;
    padding-top: 80px;

    .left {
      margin-right: 50px;
    }

    .right {
      padding-top: 100px;
      margin-left: 50px;
      h1 {
        font-size: 45px;
      }

      h2 {
        padding-top: 40px;
        padding-bottom: 110px;
      }

      a {
        background-color: $red;
        padding: 20px 75px;
        color: white;
        font-family: notoBold, serif;
        font-size: 24px;
      }
    }
  }
  footer{
    margin-top: 35px;
    text-align: center;
  }
}